<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DeMolClassLibrary.Properties.Settings1.ConnectionString"
            connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=DeMol;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;Multi SubnetFailover=False" />
    </connectionStrings>
</configuration>